@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}


.red-dark {
    color-scheme: dark;
}

.hbg {
    /* filter: blur(55px); */
    filter: brightness(.5);
}

a:hover {
    cursor: pointer;
}

.wrapmw {
    max-width: 1156px;
    width:100%;
}

.igrid {
    min-height: 160px;
}

.c-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.c-grid-card {
    display: grid;
    grid-template-rows: auto 1fr auto;

}

main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.toverlay {
    background-color: transparent;
    z-index: 9999;
}


.tshadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@layer utilities {
  
}
